* {
  margin: 0;
  padding: 0;
}

body {
    width: 970px;
    margin: 0 auto;
}

#header img {
  width: 100px;
  display: inline-block;
}

#header span {
  display: inline-block;
  margin-top: 1px;
}

#header h1 {
  height: 40px;
  background-color: #3570A1;
  color: white;
  padding: 17px;
}

#header span {
  font-size: 40px;
}

/*Width of each of the element under nav needs to be stretched too*/
/*If you need one by one, say display: block*/
/*Also, you dont want to worry about positioning every element*/
nav * {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 200px;
  display: block;
}
/*For the whole block*/
nav {
  display: inline-block;
  width: 200px;

}



#image_holder {
  background-image: url('../assets/Internet_images/ad_background.png');
  height: 400px;
}
#image_holder img{
  height: 200px;
  width: 100px;
  position: relative;
  top: 70px;
  left: 15px;
}

#image_holder p{
color: white;


}




#image_holder img {
  width: 150px;
}


#info_section {
  display: inline-block;
  vertical-align: top;
  margin-left: 100px;
  width: 660px;
}
#info_section #block1 img{
  width: 30px;
}

#info_section #block3 img{
   width: 20px;
}

#block1 {
  display: inline-block;
}


#block3 {
  display: inline-block;
  margin-left: 390px;
  margin-top: 1px;
  vertical-align: top;
}

#info_section #client_text img {
  width: 400px;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;

}
