/*CSS reset settings here*/
*{
 margin: 4px;
 padding: 4px;
}
#header{
 height: 150px;
 border-radius: 25px;
 background-color: green;
}
#navigation{
 height: 400px;
 width: 200px;
 background-color: blue;
 border-radius: 25px;
 display: inline-block;
}
#main_content{
 height: 400px;
 width: 830px;
 background-color: red;
 border-radius: 25px;
 display: inline-block;
 vertical-align: top;
}
#advertisement{
 height: 120px;
 width: 100%;
 background-color: purple;
 border-radius: 25px;
}
#wrapper{
  background-color: silver;
}
