/*CSS reset settings here*/
*{
 margin: 4px;
 padding: 4px;
}
body
{
color: white;
}
a
{
  color: lightblue;
}
#header{
 height: 60px;
 border-radius: 25px;
 background-color: red;
}
.left{
 height: 350px;
 width: 220px;
 background-color: teal;
 border-radius: 25px;
 display: inline-block;
}
#main{
 height: 500px;
 width: 950px;
 background-color: black;
 border-radius: 25px;
 display: inline-block;
 vertical-align: top;
}
#footer{
 height: 30px;
 background-color: purple;
 border-radius: 25px;
}
#wrapper{
  background-color: #006666;
}
.blue_text
{
  color: darkblue;
}
